<footer class="edu-footer footer-dark bg-image footer-style-3">
    <div class="footer-top">
        <div class="container">
            <div class="row g-5" dir="rtl">
                <div class="col-lg-3 col-md-6">
                    <div class="edu-footer-widget">
                        <div class="logo">
                            <a href="/">
                                <img class="logo-light" src="{{baseurl}}/images/logo/whitewide.png" alt=" Logo">
                            </a>
                        </div>
                        <p class="description">جامعة مركز الثقافة السنّيّة هي جامعة إسلاميّة غير ربحيّة تقع في موقع
                            متميّز في مقاطعة كالكوت، ولاية كيرلا، جنوب الهند</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="edu-footer-widget explore-widget">
                        <h4 class="widget-title">الشؤون الأكاديمية</h4>
                        <div class="row">
                            <div class="inner col-lg-6">
                                <ul class="footer-link link-hover">
                                    <li><a href="/usul">كلّيّة أصول الدين</a></li>
                                    <li><a href="/sharia"> كليّة الشريعة </a></li>
                                    <li><a href="/dirasa">كليّة الدراسات الإسلاميّة</a></li>
                                    <li><a href="/lugha">كليّة اللغة العربيّة</a></li>

                                </ul>
                            </div>
                            <div class="inner col-lg-6">
                                <ul class="footer-link link-hover">
                                    <li><a href="/law"> كلّيّة القانون</a></li>
                                    <li><a href="/unani"> كلّيّة الطبّ</a></li>
                                    <li><a href="/arts">كلّيّة الآداب والعلوم</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="edu-footer-widget quick-link-widget">
                        <h4 class="widget-title">وصلات</h4>
                        <div class="inner">
                            <ul class="footer-link link-hover">
                                <li><a href="/news">الأخبار</a></li>
                                <li><a href="/admission">القبول والتسجيل</a></li>
                                <li><a href="/administration"> الإدارة </a></li>
                                <li><a href="/contact">تواصل معنا</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="edu-footer-widget">
                        <h4 class="widget-title">تواصل معنا</h4>
                        <div class="widget-information">
                            <ul class="information-list">
                                <li><span></span>كارندور، كالكوت، كيرلا </li>
                                <li><span></span><a href="tel:+919072500423">9072500423</a></li>
                                <li><span></span><a href="mailto:kulliyya@markaz.in"
                                        target="_blank">kulliyya@markaz.in</a></li>
                            </ul>
                        </div>
                        <div class="inner">
                            <p class="description"></p>
                            {{!-- <div class="input-group footer-subscription-form">
                                <input type="email" class="form-control" placeholder="Your email">
                                <button class="edu-btn btn-secondary btn-medium" type="button">Subscribe <i
                                        class="icon-4"></i></button>
                            </div> --}}

                            <ul class="social-share icon-transparent">
                                <li><a href="#" class="color-fb"><i class="icon-facebook"></i></a></li>
                                <li><a href="#" class="color-ig"><i class="icon-instagram"></i></a></li>
                                <li><a href="#" class="color-twitter"><i class="icon-twitter"></i></a></li>
                                <li><a href="#" class="color-yt"><i class="icon-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <p>Copyright <a href="#" target="_blank">Jamia Markaz</a>
                            Designed By <a href="#" target="_blank"> Developers@Jamia</a>.
                            All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>