<!--=====================================-->
<!--=        Header Area Start       	=-->
<!--=====================================-->
<header class="edu-header header-style-2">
    <div class="header-top-bar">
        <div class="container">
            <div class="header-top">
                <div class="header-top-left">
                    <ul class="header-info">
                        <li><a href="tel:+919072500423"><i class="icon-phone"></i> 9072500423</a></li>
                        <li><a href="mailto:kulliyya@markaz.in" target="_blank"><i class="icon-envelope"></i>
                                kulliyya@markaz.in</a></li>
                    </ul>
                </div>
                <div class="header-top-right">
                    <ul class="header-info">
                        <li><a href="#">Arab</a></li>
                        <li><a href="#">Eng</a></li>
                        <li class="header-btn"><a href="#" class="edu-btn btn-secondary btn-medium">Apply Now <i
                                    class="icon-4"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="edu-sticky-placeholder"></div>
    <div class="header-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <ul class="header-action">
                    <li class="mobile-menu-bar d-block d-xl-none">
                        <button class="hamberger-button">
                            <i class="icon-54"></i>
                        </button>
                    </li>
                </ul>
                <div class="header-mainnav">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu" dir="rtl">
                            <li><a href="/">الرئيسية</a></li>
                            <li class="has-droupdown"><a href="#">عن الجامعة</a>
                                <ul class="submenu">
                                    <li><a href="/founder"> المؤسس </a> </li>
                                    <li><a href="/chancellor"> رئيس الجامعة </a></li>
                                    <li><a href="/administration"> الإدارة </a></li>
                                    <li><a href="/accreditation"> الاتّفاقيّات </a></li>

                                </ul>
                            </li>
                            <li><a href="/news">الأخبار</a></li>
                            <li class="has-droupdown"><a href="#">الشؤون الأكاديمية</a>
                                <ul class="submenu">
                                    <li><a href="/usul">كلّيّة أصول الدين</a></li>
                                    <li><a href="/sharia"> كليّة الشريعة </a></li>
                                    <li><a href="/dirasa">كليّة الدراسات الإسلاميّة</a></li>
                                    <li><a href="/lugha">كليّة اللغة العربيّة</a></li>
                                    <li><a href="/law"> كلّيّة القانون</a></li>
                                    <li><a href="/unani"> كلّيّة الطبّ</a></li>
                                    <li><a href="/arts">كلّيّة الآداب والعلوم</a></li>
                                </ul>
                            </li>
                            <li><a href="/admission">القبول والتسجيل</a></li>
                            <li><a href="/contact">تواصل معنا</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="header-brand">
                        <div class="logo">
                            <a href="/">
                                <img class="logo-light" src="{{baseurl}}/images/logo/jamiasquare.png" alt="Jamia Logo"
                                    style="max-width: 3em;">
                                <img class="logo-dark" src="{{baseurl}}/images/logo/jamiasquare.png" alt="Jamia Logo"
                                    style="max-width: 3em;">
                                {{!-- <img class="logo-light" src="images/logo/widelogo.png" alt="Jamia Logo"
                                    style="max-height: 3em;">
                                <img class="logo-dark" src="images/logo/widelogowhitetext.png" alt="Jamia Logo"
                                    style="max-height: 3em;"> --}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo">
                    <a href="/">
                        <img class="logo-light" src="{{baseurl}}/images/logo/widelogo.png" alt="Jamia Logo" width="90%">
                        <img class="logo-dark" src="{{baseurl}}/images/logo/widelogo.png" alt="Jamia Logo" width="90%">
                    </a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="icon-73"></i>
                    </button>
                </div>
            </div>
            <ul class="mainmenu">
                <li class=""><a href="/">الرئيسية</a></li>
                <li><a href="/news">الأخبار</a></li>
               
                
                <li class="has-droupdown"><a href="#">الشؤون الأكاديمية</a>
                    <ul class="submenu">
                        <li><a href="/usul">كلّيّة أصول الدين</a></li>
                        <li><a href="/sharia"> كليّة الشريعة </a></li>
                        <li><a href="/dirasa">كليّة الدراسات الإسلاميّة</a></li>
                        <li><a href="/lugha">كليّة اللغة العربيّة</a></li>
                        <li><a href="/law"> كلّيّة القانون</a></li>
                        <li><a href="/unani"> كلّيّة الطبّ</a></li>
                        <li><a href="/arts">كلّيّة الآداب والعلوم</a></li>
                    </ul>
                </li>
                 <li class="has-droupdown"><a href="#">عن الجامعة</a>
                    <ul class="submenu">
                        <li><a href="/founder"> المؤسس </a> </li>
                        <li><a href="/chancellor"> رئيس الجامعة </a></li>
                        <li><a href="/administration"> الإدارة </a></li>
                        <li><a href="/accreditation"> الاتّفاقيّات </a></li>
                    </ul>
                </li>
                <li><a href="/admission">القبول والتسجيل</a></li>
                <li><a href="/contact">تواصل معنا</a></li>
            </ul>
        </div>
    </div>
    <!-- Start Search Popup  -->
    {{!-- <div class="edu-search-popup">
        <div class="content-wrap">
            <div class="site-logo">
                <img class="logo-light" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                <img class="logo-dark" src="assets/images/logo/logo-white.png" alt="Corporate Logo">
            </div>
            <div class="close-button">
                <button class="close-trigger"><i class="icon-73"></i></button>
            </div>
            <div class="inner">
                <form class="search-form" action="#">
                    <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
                    <button class="submit-button"><i class="icon-2"></i></button>
                </form>
            </div>
        </div>
    </div> --}}
    <!-- End Search Popup  -->
</header>
<!--=====================================-->
<!--=       Hero Banner Area Start      =-->
<!--=====================================-->