<!-- views/partials/sidebar.hbs -->
<div class="sidebar">
  <h2 style="color: white;">Your Logo</h2>
  <!-- Add additional sidebar content as needed -->

   <ul>
      <li><a href="/admin">Home</a></li>
      <li><a href="/admin/create-post">Create Post</a></li>
      <!-- Add more sidebar links as needed -->
      <li><a href="/logout">Logout</a></li>
    </ul>
</div>
